<%= form_for @customer do |f| %>
  <div>
    <%= f.text_field :name, placeholder: "Name" %>
  </div>
  <div>
    <%= f.text_field :email, placeholder: "Email" %>
  </div>
  <div>
    <%= f.text_field :phone, placeholder: "Phone" %>
  </div>
  <div>
    <%= f.password_field :password, placeholder: "Password" %>
  </div>
  <div>
    <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %>
  </div>
  <div>
    <%= f.submit 'Submit', class:'form_button' %>
  </div>
<% end %>